# Requirements for OmniESI (Python 3.8)
torch==1.12.1 
torchvision==0.13.1 
torchaudio==0.12.1
dgl==1.0.4
dgllife==0.2.8 
matplotlib==3.7.5 
numpy==1.24.3 
pandas==2.0.3 
prettytable==3.11.0 
scikit-learn 
scipy 
timm 
tqdm 
yacs 
rdkit 
fair-esm 
transformers 

